
body {
    text-align: center;
    background-color: rgba(255, 104, 4, 0.1);
}

.main {
    border: 5px solid;
    border-color: orangered;
    background-color: rgba(255, 104, 4, 0.4);
}

ul.links {
    list-style: none;
}
a {
    color: black;
}

ol.lists,
ul.lists {
    display: inline-block;
    text-align: left;
    word-wrap: 10;
    line-height: 1.5;
}